<ion-header>

  <ion-navbar>
    <ion-title>FriendList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="friends">
        <ion-item *ngFor="let friend of friends" text-wrap>
          <ion-thumbnail item-start>
            <img src='{{friend.picture}}'>
          </ion-thumbnail>
          <h2>{{friend.firstName}}</h2>
          <p>{{friend.lastName}}</p>
          <p>{{friend.nickName}}</p>
          <button ion-button clear item-end (click)="showDetail(friend.studentID)">
            <ion-icon name="list-box"></ion-icon>&nbsp;         
            View   
          </button>
        </ion-item>        
      </ion-list>
      <button ion-button full color="dark" (click)="gotoBack()" >
          Back
        </button>
</ion-content>